

<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    
    <link href="/lib/extjs/classic/theme-classic/resources/theme-classic-all.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
   
    <script src="~/lib/extjs/ext-all.js"></script>
    <script src="~/lib/extjs/classic/theme-classic/theme-classic.js"></script>


  
   
</head>
<body>
<div class="wrapper ">
 
  @RenderBody()

</div>
<!-- ./wrapper --> 




</body>
</html>
